[user]
	name = Kai Wu
	email = kaiwu.astro@gmail.com
#	signingkey = 0F023FCC792716CC
#[http]
#	proxy = socks5://127.0.0.1:1080
#[https]
#	proxy = socks5://127.0.0.1:1080
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD
	s = status
	sw = switch
	b = branch --all
	uncommit = reset HEAD~
    reignore = !git rm -rf --cached . && git add .
	ac = !git add . && git commit -m
	pp = !git pull || git pull
	df = diff --word-diff=color
	cm = commit -m
[color]
	ui = auto
#[core]
#	editor = subl
[pull]
	rebase = true
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://git.overleaf.com"]
	provider = generic
